In [2]:
import pandas as pd
import yfinance as yf

In [3]:
yf.download("^DJI")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1992-01-02,3152.100098,3172.629883,3139.310059,3172.399902,3172.399902,23550000
1992-01-03,3172.399902,3210.639893,3165.919922,3201.500000,3201.500000,23620000
1992-01-06,3201.500000,3213.330078,3191.860107,3200.100098,3200.100098,27280000
1992-01-07,3200.100098,3210.199951,3184.479980,3204.800049,3204.800049,25510000
1992-01-08,3204.800049,3229.199951,3185.820068,3203.899902,3203.899902,29040000
...,...,...,...,...,...,...
2024-05-21,39804.398438,39905.800781,39778.730469,39872.988281,39872.988281,314120000
2024-05-22,39863.328125,39890.910156,39559.089844,39671.039062,39671.039062,258430000
2024-05-23,39694.949219,39694.949219,39025.511719,39065.261719,39065.261719,335640000
2024-05-24,39089.230469,39220.308594,39020.289062,39069.589844,39069.589844,249810000
2024-05-28,39029.000000,39028.988281,38886.828125,38907.691406,38907.691406,131567524

In [4]:
dji = yf.download("^DJI", start="2007-01-01", end="2020-03-31")

[*********************100%%**********************]  1 of 1 completed

In [5]:
dji

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2007-01-03,12459.540039,12580.349609,12404.820312,12474.519531,12474.519531,327200000
2007-01-04,12473.160156,12510.410156,12403.860352,12480.690430,12480.690430,259060000
2007-01-05,12480.049805,12480.129883,12365.410156,12398.009766,12398.009766,235220000
2007-01-08,12392.009766,12445.919922,12337.370117,12423.490234,12423.490234,223500000
2007-01-09,12424.769531,12466.429688,12369.169922,12416.599609,12416.599609,225190000
...,...,...,...,...,...,...
2020-03-24,19722.189453,20737.699219,19649.250000,20704.910156,20704.910156,799340000
2020-03-25,21050.339844,22019.929688,20538.339844,21200.550781,21200.550781,796320000
2020-03-26,21468.380859,22595.060547,21427.099609,22552.169922,22552.169922,705180000
2020-03-27,21898.470703,22327.570312,21469.269531,21636.779297,21636.779297,588830000
2020-03-30,21678.220703,22378.089844,21522.080078,22327.480469,22327.480469,545540000

In [6]:
dji.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3333 non-null   float64
 1   High       3333 non-null   float64
 2   Low        3333 non-null   float64
 3   Close      3333 non-null   float64
 4   Adj Close  3333 non-null   float64
 5   Volume     3333 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 182.3 KB

In [7]:
dji.to_csv("../data/d02_intermediate/dji.csv")

In [8]:
const = pd.read_csv("../data/d02_intermediate/const.csv")

In [9]:
symbol_list = const.Symbol.to_list()

In [10]:
prices = yf.download(symbol_list, start="2007-01-01", end="2020-03-31")

[*********************100%%**********************]  30 of 30 completed

In [11]:
prices

Price       Adj Close                                                \
Ticker           AAPL        AMGN       AMZN        AXP          BA
Date
2007-01-03   2.530319   48.824219   1.935000  46.010094   64.405724
2007-01-04   2.586482   50.915657   1.945000  45.674694   64.665733
2007-01-05   2.568063   51.037025   1.918500  45.072548   64.391289
2007-01-08   2.580745   50.630138   1.875000  45.499374   64.239594
2007-01-09   2.795127   50.872841   1.889000  45.209721   63.560631
...               ...         ...        ...        ...         ...
2020-03-24  60.113960  177.550598  97.004997  79.178101  127.680000
2020-03-25  59.782806  169.477722  94.292000  84.943375  158.729996
2020-03-26  62.928757  174.172272  97.774498  87.882530  180.550003
2020-03-27  60.323360  173.979202  95.004997  83.586830  162.000000
2020-03-30  62.044876  182.938339  98.197502  85.037560  152.279999

Price                                                                 ...  \
Ticker             CAT         CRM       CSCO        CVX         DIS  ...
Date                                                                  ...
2007-01-03   38.459316    9.005736  18.805082  36.333820   28.225105  ...
2007-01-04   38.358700    9.457646  19.300133  35.980564   28.447937  ...
2007-01-05   37.868217    9.867111  19.306913  36.118786   28.216854  ...
2007-01-08   37.912235    9.969478  19.415417  36.579552   28.472694  ...
2007-01-09   38.119743    9.976967  19.306913  36.159748   28.431431  ...
...                ...         ...        ...        ...         ...  ...
2020-03-24   92.144318  153.439560  33.814846  55.066715   97.801262  ...
2020-03-25   95.172142  146.868149  33.000134  57.317368  100.402779  ...
2020-03-26  100.473129  154.528137  35.549393  63.200523  105.017738  ...
2020-03-27   95.872276  145.809540  34.007568  56.911907   96.086845  ...
2020-03-30  101.573311  149.654510  35.321629  59.534927   99.475800  ...

Price         Volume                                                   \
Ticker           MMM       MRK      MSFT       NKE        PG      TRV
Date
2007-01-03   4522674  15740226  76935100  17299200   9717900  3432800
2007-01-04   3550206  13115930  45774500  15085600   8711400  2068200
2007-01-05   3307179  11168431  44607200  14996800   9907900  2104600
2007-01-08   2911662   7384522  50220200  10109600  11068200  2440900
2007-01-09   2268573   9037114  44636600  15167200  10823800  1319500
...              ...       ...       ...       ...       ...      ...
2020-03-24  11136793  19901939  82516700  18849500  14625500  4293300
2020-03-25   9260030  18311494  75638200  27053200  13789100  4151400
2020-03-26   8033532  18052848  64568100  17200800  15796000  4610600
2020-03-27   5097711  12467218  57042300  14183400  16073100  3085400
2020-03-30   4627922  15803316  63420300  10960100  14571600  2733700

Price
Ticker           UNH           V        VZ        WMT
Date
2007-01-03   8360300         NaN  21445850  107061900
2007-01-04   5152500         NaN  19215860   51219000
2007-01-05   6215700         NaN  19047041   40670700
2007-01-08   4344100         NaN  20370917   49189200
2007-01-09   5483900         NaN  16281352   43929600
...              ...         ...       ...        ...
2020-03-24   8894400  24488300.0  40626900   42705000
2020-03-25  10014000  20619600.0  38551300   53287500
2020-03-26   7517600  17062900.0  32610900   58250700
2020-03-27   4879500  14950700.0  25363600   36160500
2020-03-30   5329000  15714500.0  20660200   29212500

[3333 rows x 180 columns]

In [12]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3333 entries, 2007-01-03 to 2020-03-30
Columns: 180 entries, ('Adj Close', 'AAPL') to ('Volume', 'WMT')
dtypes: float64(152), int64(28)
memory usage: 4.6 MB

In [13]:
prices = prices.loc[:, "Close"].copy()

In [14]:
prices

Ticker,AAPL,AMGN,AMZN,AXP,BA,CAT,CRM,CSCO,CVX,DIS,...,MMM,MRK,MSFT,NKE,PG,TRV,UNH,V,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2007-01-03,2.992857,68.400002,1.935000,60.360001,89.169998,61.160000,9.017500,27.730000,70.970001,33.738300,...,65.434784,42.003819,29.860001,12.208750,64.540001,53.549999,52.570000,NaN,35.306732,15.850000
2007-01-04,3.059286,71.330002,1.945000,59.919998,89.529999,61.000000,9.470000,28.459999,70.279999,34.004654,...,65.175583,43.043892,29.809999,12.333750,64.050003,53.099998,52.910000,NaN,35.502777,15.926667
2007-01-05,3.037500,71.500000,1.918500,59.130001,89.150002,60.220001,9.880000,28.469999,70.550003,33.728436,...,64.732445,42.270992,29.639999,12.353750,63.500000,52.410000,52.549999,NaN,34.895969,15.796667
2007-01-08,3.052500,70.930000,1.875000,59.689999,88.940002,60.290001,9.982500,28.629999,71.449997,34.034248,...,64.874580,42.261452,29.930000,12.316250,63.639999,52.020000,53.320000,NaN,34.363850,15.666667
2007-01-09,3.306071,71.269997,1.889000,59.310001,88.000000,60.619999,9.990000,28.469999,70.629997,33.984924,...,64.949837,41.870228,29.959999,12.470000,63.480000,51.889999,52.680000,NaN,34.503880,15.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-03-24,61.720001,202.339996,97.004997,84.050003,127.680000,101.339996,153.639999,38.599998,66.550003,98.120003,...,110.969902,65.887405,148.339996,72.330002,103.269997,93.739998,219.800003,154.529999,49.990002,38.343334
2020-03-25,61.380001,193.139999,94.292000,90.169998,158.729996,104.669998,147.059998,37.669998,69.269997,100.730003,...,109.983276,65.095421,146.919998,79.010002,100.919998,92.180000,234.490005,161.779999,49.939999,36.466667
2020-03-26,64.610001,198.490005,97.774498,93.290001,180.550003,110.500000,154.729996,40.580002,76.379997,105.360001,...,113.862877,70.162216,156.110001,84.300003,107.379997,98.669998,255.389999,168.880005,53.540001,36.606667
2020-03-27,61.935001,198.270004,95.004997,88.730003,162.000000,105.440002,146.000000,38.820000,68.779999,96.400002,...,111.404678,68.444656,149.699997,83.230003,110.169998,99.949997,242.449997,161.559998,52.770000,36.526669
2020-03-30,63.702499,208.479996,98.197502,90.269997,152.279999,111.709999,149.850006,40.320000,71.949997,99.800003,...,115.167221,73.425575,160.229996,85.379997,115.000000,102.589996,251.279999,165.570007,54.770000,38.396667

In [15]:
prices.to_csv("../data/d02_intermediate/const_prices.csv")